:root {
  --foreground: #070b0d;
  --background: #f8fbfc;
  --primary: #5493b6;
  --secondary: #95c2d6;
  --accent: #6ba9cc;
  --muted: #c6dbe7;
}

[data-kb-theme="dark"] {
  --foreground: #f8fbfc;
  --background: #070b0d;
  --primary: #4989ab;
  --secondary: #29576a;
  --accent: #337094;
  --muted: #1d3644;
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  background-color: var(--background);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
