:root {
  --foreground: #070b0d;
  --background: #f8fbfc;
  --card: #edf5f7;
  --primary: #5493b6;
  --secondary: #95c2d6;
  --accent: #6ba9cc;
  --muted: #c6dbe7;
  --success: #519749;
}

[data-kb-theme="dark"] {
  --foreground: #f8fbfc;
  --background: #070b0d;
  --card: #0c1317;
  --primary: #4989ab;
  --secondary: #29576a;
  --accent: #337094;
  --muted: #1d3644;
  --success: #6fb668;
}

h1 {
  --uno: "text-6xl font-bold tracking-tight sm:text-7xl md:text-8xl text-primary";
}

h2 {
  --uno: "text-4xl font-semibold tracking-tight text-primary";
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  background-color: var(--background);

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
