:root {
  --foreground: #070b0d;
  --background: #f8fbfc;
  --card: #edf5f7;
  --primary: #5493b6;
  --light: #5e94b3;
  --secondary: #95c2d6;
  --accent: #6ba9cc;
  --muted: #c6dbe7;
  --success: #519749;
}

[data-kb-theme="dark"] {
  --foreground: #f8fbfc;
  --background: #070b0d;
  --card: #0c1317;
  --primary: #4989ab;
  --light: #5e94b3;
  --secondary: #29576a;
  --accent: #337094;
  --muted: #1d3644;
  --success: #6fb668;
}

.btn-link-active {
  --uno: "border-b-2 border-primary font-sans";
}
.btn-link-inactive {
  --uno: "border-b-2 border-transparent font-sans hover:border-muted";
}
.bento-cell {
  --uno: "bg-card border-2 border-muted p-4 shadow hover:border-secondary transition-all";
}
.centered {
  --uno: "flex justify-center items-center";
}

h1 {
  --uno: "text-6xl font-bold tracking-tighter sm:text-7xl md:text-8xl text-primary";
}
h2 {
  --uno: "text-4xl font-semibold tracking-tighter text-primary";
}
h3 {
  --uno: "text-2xl font-semibold tracking-tight text-primary";
}
body {
  --uno: "bg-background text-foreground antialiased";
  font-family: var(--font-sans);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
